/*@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600");
.flex-contatiner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    overflow: hidden;
  }

  .calendar-container {
    position: relative;
    width: 360px;
    height: 360px;
    overflow: visible;
  }

  .calendar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    border: 10px solid #fff;
    font-family: 'Josefin Sans', sans-serif;
  }

  .calendar .month-title {
      position: absolute;
  top: 0.4rem;
  margin: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0;
  color: #053259;
  opacity: .5;
  left: 0.1em;
  }

  .calendar .calendar-table {
    position: absolute;
    width: 100%;
    height: 85%;
    border-collapse: collapse;
    color: #fff;
  }

  .calendar .calendar-table th,
  .calendar .calendar-table td {
    text-align: center;
    font-size: 16px;
  }

  .calendar .calendar-table td {
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  .calendar .calendar-table td:not(.is-today) {
    opacity: 0.5;
  }

  .calendar .calendar-table td:hover {
    opacity: 1;
  }
*/

