*{
color: #fff;

}

html{
    /*font-family: "Raleway", sans-serif;
    font-style: normal;*/
    min-height: 100%;
    background-color: #363636;
  }

body{
    min-height: 100%;
}

#rst {
    top: 45px;
    position: relative;
  }

  .vcenter {
    position: relative;
  }

 

#navi{
  z-index: 111;
    min-height: 40px;
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #363636;
}

#fut{
  height: 100px;
    
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
  }

.midd{
    text-align: center;
    margin: auto;
}

.conta{
    margin: 0 auto;
max-width: 95%;
padding: 0 2rem;
position: relative;
width: 100%;
}

.calendar .is-today {
    opacity: 1;
    color: #f00;
    font-weight: bolder;
  }

  .memb {
    width: 300px;
    height: 100px;
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: aliceblue;
}

.mline{
  margin: 0 auto;
}

.membo{
    width: 250px;
    height: 300px;
    float: left;
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: antiquewhite;
}



  th, tr{
      text-align: center !important;
  }

  #mm{
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 550px) {
    #mm {
      margin-top: 100px;
      margin-right: 0px;
    margin-left: 0px;
    }
      .memb{
      margin-left: 0px;
          margin-right: 0px;
      }
      
       .container{
    padding: 0px;
    }
  }

#mbtn{
  display: none;
  float: right;
}

@media only screen and (max-width: 1410px) {
.nc{
  display: none;
}
  

.ccal{
  display: none;
}

#mbtn{
  display: contents;
}
#logo{
  position: absolute;
}
}



.share, .share-list, .share-list  {
  position: relative;
  text-decoration: none;
}

.share-item:nth-child(n+1) {
  margin-left: .5rem;
}

.share-item {
  display: inline-block;
  margin: 1rem 0;
      margin-left: 0px;
}

.share-dialog {
  background-color: #9b4dca;
  border-radius: .4rem;
  color: #fff;
  display: block;
  height: 2.2rem;
  text-align: center;
  width: 5rem;
}

.share-dialog .share-icon {
  fill: #fff;
  height: 1.5rem;
}

svg:not(:root) {
  overflow: hidden;
}

.share-dialog {
  color: #fff;
  text-align: center;
}

#onel, #twol, #threel, #fourl{
  position: relative;
  top: -46px;
}

.neup{
  border: 2px solid blue;
line-height: 95%;
margin-bottom: 5px;
border-radius: 10px;
padding: 10px;
}

.neup-w{
display: none;
}

.neup-d{
  display: none;
}

.oname, .otitl, .olinks {
  width: 250px;
  height: 25px;
  position: relative;
  bottom: -220px;
  background: red;
  display: flex;
  justify-content: center;
}

.otitl{
  background-color: aqua;
}

.olinks{
  height: 30px;
  background-color: #9b4dca;
  padding: 5px;
}

.mlinks {
  display: flex;
  height: 25px;
  position: relative;
  width: 190px;
  right: -100px;
  top: -100px;
  justify-content: center;
  padding: 3px;
  background-color: blue;
}

.mname {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 65px;
  position: relative;
  width: 190px;
  right: -100px;
  top: -95px;
  margin: 5px;
    margin-left: 0px;
  background-color: black;
}

.mim {

  height: 90px;
  margin: 5px;
  width: 90px;
  background-color: #f00;

}

.mlinks > img {
  max-width: 30px;
}

.olinks > img {
  max-width: 40px;
}

 #int{
  margin: 0 auto;  
}

.spons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
    flex-wrap: wrap;

}

.sp-im{
min-width: 100px;
  margin: 50px;
}


